$checkbox-size: 20px;
$checkbox-size-mobile: 3vw;

.item {
   display: flex;
   justify-content: space-between;
   align-items: center;

   font-size: 22px;
   font-family: "Aparajita", "Sylfaen", Times;

   &:hover {
      filter: brightness(1.2);

      input::after {
         visibility: visible;
         opacity: 0.7;
      }
   }
}

label {
   margin-left: 10px;
}

@media screen and (max-width: 670px) {
   .item {
      font-size: 3.3vw;
   }

   label {
      margin-left: 0.8vw;
   }
}

input[type="checkbox"] {
   -webkit-appearance: none;
   appearance: none;
   margin: 0;
   cursor: pointer;

   position: relative;

   &::after {
      position: absolute;
      content: "";
      z-index: 2;
      top: 50%;
      left: 50%;
      visibility: hidden;

      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);

      width: 26px;
      height: 26px;

      @media screen and (max-width: 670px) {
         width: 3.2vw;
         height: 3.2vw;
      }

      background: url(/src/assets/checkbox-glowing.png);
      background-size: cover;
   }

   &::before {
      position: relative;
      z-index: 1;
      content: "";
      display: block;
      width: $checkbox-size;
      height: $checkbox-size;

      @media screen and (max-width: 670px) {
         width: $checkbox-size-mobile;
         height: $checkbox-size-mobile;
      }

      background: url(/src/assets/checkbox.png);
      background-size: cover;
   }

   &:checked {
      &::before {
         background: url(/src/assets/checkbox-checked.png);
         background-size: cover;
      }

      &::after {
         visibility: visible;
      }
   }
}

.line {
   height: 9px;
   flex: 1;
   border-bottom: 1.5px dotted #d0d199;
}

.ruble {
   font-family: "Ubuntu Sans Mono", monospace;
   font-size: 75%;
   font-weight: 200;
}
