.content {
   display: flex;
   flex-direction: column;
   align-items: center;

   p {
      font-family: "Sevilla Decor";
      font-size: 1.73rem;
      text-align: center;
      width: 100%;
      font-style: italic;

      color: white;
      filter: drop-shadow(0 0 2px #583601);
   }
}
