.text {
   color: white;
   font-size: 1.9rem;
   text-align: center;
   font-family: "Aparajita", "Sylfaen";
   filter: drop-shadow(2px 2px 1.5px rgba(0, 0, 0, 0.5));

   margin: 0 auto;
   margin-top: 7%;
   margin-bottom: 7%;

   a {
      color: white;
      text-decoration: none;
   }

   @media (max-width: 670px) {
      font-size: 4.4vw;
   }
}

.min {
   color: white;
   font-size: 1.4rem;
   text-align: center;
   font-family: "Aparajita", "Sylfaen";
   filter: drop-shadow(2px 2px 1.5px rgba(0, 0, 0, 0.5));

   margin: 0 auto;
   margin-top: 7%;
   margin-bottom: 7%;

   a {
      color: white;
      text-decoration: none;
   }

   @media (max-width: 670px) {
      font-size: 3.4vw;
   }
}
