@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

@font-face {
   font-family: "Sylfaen";
   src: url(/src/assets/fonts/sylfaen.ttf) format("truetype");
   font-weight: 500;
}

@font-face {
   font-family: "Aparajita";
   src: url(/src/assets/fonts/Aparajita.ttf) format("truetype");
   font-weight: 500;
}

@font-face {
   font-family: "Sevilla Decor";
   src: url(/src/assets/fonts/sevilladecor.ttf) format("truetype");
   font-weight: 500;
}

@font-face {
   font-family: "Algerian";
   src: url(/src/assets/fonts/Algerian.ttf) format("truetype");
   font-weight: 500;
}

@font-face {
   font-family: "Algeria One";
   src: url(/src/assets/fonts/AlgeriaOne.ttf) format("truetype");
   font-weight: 500;
}
